.category {
	/* width: 275px;
	height: 282px; */
	width: 230px;
	height: 240px;
	margin: 10px;
	font-size: .875rem;
	font-family: BogleWeb,Helvetica Neue,Helvetica,Arial,sans-serif;
	cursor: pointer;
	text-transform: capitalize;
}

/* .category :active{
	border: 1px solid #041e42;
} */

.category-img {
	width: 100%;
	height: 90%;
	/* border: 3px solid #f5f5f5; */
	border-radius: 100%;
}
