.event {
	width: 275px;
	height: 282px;
	margin: 10px;
	font-size: .875rem;
	font-family: BogleWeb,Helvetica Neue,Helvetica,Arial,sans-serif;
	cursor: pointer;
}
.event :active {
	border: 1px solid #041e42;
}
.event-img {
	width: 100%;
	height: 90%;
	border-radius: 100%;
}
